DATABASE_URL="file:./dev.db"

RESEND_API_KEY=""
EMAIL_FROM="Inscripciones <inscripciones@tu-dominio.com>"

BIZUM_NUMERO="600000000"
PAYPAL_LINK="https://paypal.me/tu-usuario"

ADMIN_PASSWORD="cambia-esto"
